Repository NUTFes/NUTFES-Account, pull requests merged in 2023-06, with the labels that each got.

#56 Hasuraにテーブル追加、keycloak_groupにリレーション
  api/init.sql
  api/metadata/databases/default/tables/public_bureau.yaml
  api/metadata/databases/default/tables/public_department.yaml
  api/metadata/databases/default/tables/public_grade.yaml
  api/metadata/databases/default/tables/public_keycloak_group.yaml
  api/metadata/databases/default/tables/tables.yaml
Labels: enhancement, backend

#60 keywindのログイン画面にファビコンを表示できるようにした
  backend/themes/keywind/login/document.ftl
  backend/themes/keywind/login/resources/img/favicon.ico
  backend/themes/keywind/login/theme.properties
Labels: backend

#59 フロントコンテナをCloudflareで公開する設定を記述
  cloudflare/prod/config.yaml
  cloudflare/stage/config.yaml
  docker-compose.prod.yml
  docker-compose.stage.yml
  docker-compose.yml
Labels: enhancement, infra

#80 HasuraのテーブルをReadOnlyにした
  api/metadata/databases/default/tables/public_bureau.yaml
  api/metadata/databases/default/tables/public_department.yaml
  api/metadata/databases/default/tables/public_grade.yaml
  api/metadata/databases/default/tables/public_group_attribute.yaml
  api/metadata/databases/default/tables/public_group_role_mapping.yaml
  api/metadata/databases/default/tables/public_keycloak_group.yaml
  api/metadata/databases/default/tables/public_keycloak_role.yaml
  api/metadata/databases/default/tables/public_role_attribute.yaml
  api/metadata/databases/default/tables/public_user_attribute.yaml
  api/metadata/databases/default/tables/public_user_entity.yaml
  api/metadata/databases/default/tables/public_user_group_membership.yaml
  api/metadata/databases/default/tables/public_user_role_mapping.yaml
Labels: enhancement, backend

#76 InfoCardComponentsの作成(#61)
  frontend/src/components/InfoCard/InfoCard.tsx
  frontend/src/components/InfoCard/index.ts
  frontend/src/components/index.ts
  frontend/src/pages/personal-info/index.tsx
Labels: enhancement, frontend

#77 [add] Next Authを使用してKeycloakログインを可能にした (#52)
  frontend/src/pages/_app.tsx
  frontend/src/pages/api/auth/[...nextauth].ts
  frontend/src/pages/index.tsx
Labels: enhancement, frontend

#86 Headerコンポーネントを作成
  frontend/src/components/common/Header.tsx
  frontend/src/components/icons/HeaderLogo.tsx
  frontend/src/components/layout/HomeLayout.tsx
  frontend/src/pages/index.tsx
Labels: enhancement, frontend

#84 DetailLayoutの作成
  frontend/src/components/layout/DetailLayout.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/birthday.tsx
  frontend/src/pages/bureau.tsx
  frontend/src/pages/department.tsx
  frontend/src/pages/gender.tsx
  frontend/src/pages/password.tsx
  frontend/src/pages/phone.tsx
  frontend/src/pages/qrcode.tsx
  frontend/src/pages/student-id.tsx
  frontend/src/pages/username.tsx
Labels: enhancement, frontend

#85 Sideタブ作成
  frontend/src/components/common/SideTab.tsx
  frontend/src/components/layout/HomeLayout.tsx
  frontend/src/constants/tabs.tsx
Labels: enhancement, frontend
